:root{
    font-size:20px;
    /*color palette*/
    --white: #F2F2F2;
    --black: #262526;
    --red: #A6032F;
    --pink:#D9967E;
    --medium-brown: #BF8641;
    --lite-brown: #D9B68B;
    --dark-brown: #8C452B;
    /*dark mode color palette*/
    --blue:#062834;
    --medium-blue: #1A3A49;
}
body{
    display: grid;
    justify-items: center;
}
header{
    background-color: var(--pink);
    color:var(--white);
    width: calc(90%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "storeName storeName links links";
}
h1{
    grid-area:storeName;
}
nav{
    margin-top:1rem;
    grid-area:links;
}
ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "link1 link2 link3";
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:var(--white);
    padding:1rem;
}

/*settings for darkmode*/
.dark{
    background-color: var(--blue);
    color:var(--white);
}
.darkHeader{
    background-color:var(--medium-blue);
}

#darkModeCycle{
    text-align: right;
    margin-right: 1rem;
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
}
/*Main styles*/
main{
    display: grid;
    justify-items: center;
}
main div button{
    appearance: none;
    border:none;
}

main img{
    max-width: 90%;
    height: auto;
    margin-top:1rem;
    margin-bottom:1rem;
}

#shop{
    background-color: var(--lite-brown);
    max-width: 90%;

}
#products {
    display: grid;
    grid-template-rows:repeat(4,1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "product1 productDescription1"
    "product2 productDescription2"
    "product3 productDescription3"
    "product4 productDescription4";
}
#products img{
    max-width: 70%;
    height: auto;
}
.product1{
    grid-area: product1;
    width: 100%;
    height: 100%;
}
.product2{
    grid-area: product2;
    width: 100%;
    height: 100%;
}
.product3{
    grid-area: product3;
    width: 100%;
    height: 100%;
}
.product4{
    grid-area: product4;
    width: 100%;
    height: 100%;
}
.productDescription1{
    grid-area: productDescription1;
}
.productDescription2{
    grid-area: productDescription2;
}
.productDescription3{
    grid-area: productDescription3;
}
.productDescription4{
    grid-area: productDescription4;
}
#shop button{
    border: solid var(--black);
}
#cart{
    background-color: var(--white);
}
footer{
    background-color: var(--pink);
    color:var(--white);
    text-align: center;
    max-width:90%;
    display:grid;
}
footer section{
    margin-top: 1rem;
}
.required{
    color: var(--red);
}
#customerInfo {
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
}

span{
    color: var(--red);
}
/*hover styles*/
@media (hover:hover){
    nav li a:hover{
        color:var(--white);
        background-color: var(--red);
    }
}