:root{
    font-size:20px;
    /*color palette*/
    --white: #F2F2F2;
    --black: #262526;
    --red: #A6032F;
    --pink:#D9967E;
    --medium-brown: #BF8641;
    --lite-brown: #D9B68B;
    --dark-brown: #8C452B;
    /*dark mode color palette*/
    --blue:#062834;
    --medium-blue: #1A3A49;
}

header{
    background-color: var(--pink);
    color:var(--white);
}

/*settings for darkmode*/
.dark{
    background-color: var(--blue);
    color:var(--white);
}
.darkHeader{
    background-color:var(--medium-blue);
}

#darkModeCycle{
    text-align: right;
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

img{
    max-width:100%;
    height: auto;
}


.required{
    color: var(--red);
}
#customerInfo {
    background-color: var(--blue);
    color: var(--white);
    font-size: 20px;
}

span{
    color: var(--red);
}
/*hover styles*/
@media (hover:hover){
    nav li a:hover{
        background-color: var(--white);
    }
}
